@model IEnumerable<Task_Two_MVC.Entities.Student>

@{    
    ViewData["Title" ] = "All Students";
}


<h1>Student List</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>        
        @foreach(var student in Model )        
        {           
            <tr>               
                <td>@student.Id</td>                
                <td>@student.Name</td>                
                <td>@student.Age</td>                
                <td>@(student.Department?.Name ??"Not Assigned")</td>                
                <td>              
                    <a asp-action="ShowById" asp-route-id="@student.Id">Details</a>
                </td>            
            </tr>       
        }
    </tbody>
</table>
